* {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Helvetica,Tahoma,Arial,sans-serif;
}
body{
	overflow: hidden;
}


.nav-bar{
	display: flex;
	height: 50px;
	background-color: #0277bd;
	
}
	.nav-bar .nav-menu{
		height: 50px;
		width: 40px;
		cursor: pointer;
		/*border-right: 1px solid #0277bd;*/
		/*box-shadow: 0px -2px 16px -2px #3423b2;*/
	}
		.nav-bar .nav-menu img{
			margin-top: 19px;
			margin-left: 6px;
		}
	.nav-bar .nav-logo{
		width: 190px;
		border-right: 1px solid #0277bd;
		box-shadow: 7px -2px 36px -5px #003f7f;
		cursor: pointer;
	}
		.nav-bar .nav-logo img{
			margin-top: 12px;
		}
	.nav-bar .nav-left{
		float: left;
		display: flex;
	}
		.nav-bar .nav-left .catalog-application{
			height: 50px;
			width: 60px;
		}
			.nav-bar .nav-left .catalog-application img{
				cursor: pointer;
				padding-left: 23px;
				padding-top: 20px;
			}
			.nav-bar .nav-left .catalog-application .triangle{
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 8px solid;
				color: #fff;
				margin-top: 1px;
				margin-left: 27px;
			}
			.nav-bar .nav-left .catalog-application .catalog-application-catalog{
				position: absolute;
				width: 360px;
				top: 46px;
				left: 206px;
				z-index: 999;
				box-shadow: 6px 7px 8px -4px #ccc;
				border-radius: 4px;
				background-color: #fff;
				padding: 10px;
				padding-top: 18px;
			}
				.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-top{
					height: 188px;
					border-bottom: 1px solid #ccc;
				}
				.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-item{
					height: 76px;
					width: 87px;
					cursor: pointer;
				}

				.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-bottom{
					margin-top: 10px;
					margin-bottom: 15px;
				}
				.nav-bar .nav-left .catalog-application .catalog-application-catalog .line-item{
					display: flex;
					margin-bottom: 10px;
				}
					.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-item img{
						padding-top: 10px;
						padding-left: 25px;
					}
					.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-item div{
						color: gray;
						text-align: center;
						padding-top: 5px;
					}
					.nav-bar .nav-left .catalog-application .catalog-application-catalog .catalog-app-item:hover{
						outline: 1px solid #ccc;
					}
		.nav-bar .nav-left .nav-search{
			width: 23.3%;
		}
			.nav-bar .nav-left .nav-search .search-box{
				margin-left: 15px;
				margin-top: 9px;
				height: 31.5px;
				min-width: 305px;
				background-color: #0a5796;
				border-radius: 3px;
				display: flex;
			}
				.nav-bar .nav-left .nav-search .search-box .icon-search{
					width: 24px;
					margin-left: 10px;
					margin-top: 8px;
					
				}
				.nav-bar .nav-left .nav-search .search-box input[type="text"]{
					background-color: transparent;
					border: none;
					width: 74%;
					font-size: 13px;
				}
					.nav-bar .nav-left .nav-search .search-box input[placeholder]{
						padding-top: 6px;
						color: #fff;
					}
				.nav-bar .nav-left .nav-search .search-box .setting-search{
					margin: 3px;
					border-left: 1px solid #fff;
					cursor: pointer;
					padding-top: 5px;
					padding-left: 10px;
				}
				.nav-bar .nav-left .nav-search .search-box .setting-dialog{
					position: absolute;
					width: 22.2%;
					min-width: 200px;
					margin-top: 35px;
					background-color: #fff;
					z-index: 9;
					font-size: 14px;
					box-shadow: 5px 5px 5px -5px #333;
				}
					.nav-bar .nav-left .nav-search .search-box .setting-dialog .setting-dialog-head{
						padding-top: 20px;
						padding-left: 10px;
						padding-bottom: 5px;
					}
					.nav-bar .nav-left .nav-search .search-box .setting-dialog .setting-dialog-checkbox{
						padding-left: 10px;
						padding-top: 20px;
					}
					
	
	.nav-bar .nav-panel-l-r{
		width: 20%;
	}
	.nav-bar .nav-right{
		float: right;
	}
		.nav-bar .nav-right .r-version{
			width: 190px;
			height: 30px;
			border: 1px solid #3e85c3;
    		background-color: #0b62a9;
    		border-radius: 4px;
    		cursor: pointer;
    		margin-top: 9px;
    		color: #fff;
    		text-align: center;
		}
			.nav-bar .nav-right .r-version:hover{
				background-color: #fff;
				color: #0b62a9;
			}
		.nav-bar .nav-right .r-version-text{
			margin-top: 17px;
			margin-left: 58px;
			height: 25px;
			width: 50px;
			color: #fff;
		}
		.nav-bar .nav-right .r-ring{
			height: 50px;
			width: 50px;
			cursor: pointer;
		}
			.nav-bar .nav-right .r-ring img{
				margin-left: 15px;
				margin-top: 15px;
			}
		.nav-bar .nav-right .r-user{
			display: flex;
			color: #fff;
			cursor: pointer;
		}
			
			.nav-bar .nav-right .r-user .r-user-img{
				margin-top: 5px;
				margin-left: 5px;
				height: 41px;
				width: 41px;
				background-color: #fff;
				border-radius: 50%;
			}
				.nav-bar .nav-right .r-user .r-user-img img{
					height: 41px;
					width: 41px;
				}
			.nav-bar .nav-right .r-user span{
				margin-left: 10px;
				margin-top: 18px;
			}
		.nav-bar .nav-right .r-user-profile{
			position: fixed;
			background-color: #fff;
			top: 50px;
			right: 4px;
			z-index: 9;
			width: 250px;
			border: 1px solid #ccc;
			box-shadow: -5px 5px 10px -5px #ccc;
			cursor: pointer;
		}
			.nav-bar .nav-right .r-user-profile .panel-r-user{
				height: 12px;
			}
			.nav-bar .nav-right .r-user-profile .r-user-profile-head{
				padding-left: 20px;
				height: 40px;
				border-top: 1px solid #eaeff1;
				border-bottom: 1px solid #eaeff1;
				font-weight: bold;
				color: #0277bd;
				padding-top: -10px;
			}
			.nav-bar .nav-right .r-user-profile .r-user-profile-item{
				padding-left: 20px;
				height: 40px;
			}
			.nav-bar .nav-right .r-user-profile .r-user-profile-out{
				border-top: 1px solid #eaeff1;
				padding-left: 20px;
				height: 40px;
			}
				.out-text{
					margin-top: 2px;
					margin-left: 5px;
				}
				.nav-bar .nav-right .r-user-profile div:hover{
					background-color: #dbdbdb;
				}

.list-nav{
	width: 231px;
	top: 50px;
	height: 600px;
	background-color: #0277bd;
	float: left;
}
.content{
	position: static;
	left: 231px;
	background-color: #ccc;
	width: 100%;
	height: 600px;
}
